@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Roboto", sans-serif; */
/* font-family: "Roboto Mono", monospace; */
/* font-family: "Rajdhani", sans-serif; */

/* Main/Variable */
* {
    margin: 0;
    padding: 0;
}

:root {
    --logo-font: "Rajdhani", sans-serif;
    --primary-font: "Roboto Mono", monospace;
    --secondary-font: "Roboto", sans-serif;
}

.hide {
    display: none;
}

.fullContainer {
    padding: 30px 60px;
}

.mainContainer {
    margin: 40px;
    max-width: 1440px;
    width: 100%;
    justify-self: center;
}

.container100 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container50 {
    width: 50%;
}

.heading1,
.heading2,
.heading3,
.heading4 {
    font-family: var(--primary-font);
    color: #FCFCFC;
}

.heading2 {
    font-weight: 600;
}

.txt {
    font-family: var(--secondary-font);
    color: #FCFCFC;
    font-size: 18px;
    line-height: normal;
}

.bold {
    font-weight: 600;
}

@media only screen and (max-width: 550px) {
    .txt {
        font-size: 16px;
    }

    .heading1 {
        font-size: 24px
    }

    .heading2 {
        font-size: 18px;
    }

    .heading3 {
        font-size: 24px;
    }

    .heading4 {
        font-size: 18px;
    }
}

/* @media only screen and (max-width: 1440px) {} */

@media only screen and (max-width: 992px) {
    .heading1 {
        font-size: 28px
    }

    .heading2 {
        font-size: 20px;
    }

    .fullContainer {
        padding: 30px;
    }

}

@media only screen and (max-width: 768px) {
    .container100 {
        display: flex;
        flex-direction: column;
    }

    .container50 {
        width: 100%;
    }

    .fullContainer {
        padding: 10px;
    }

    .mainContainer {
        margin: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .fullContainer {
        padding: 30px 10px;
    }

    .mainContainer {
        margin: 0px;
    }
}

/* NavBar */
nav {
    background-color: #373F51;

}

.mainNav {
    height: 70px;
    margin: 0px 50px;
    display: flex;
    justify-content: space-between;

    align-items: center;
    max-width: 1440px;
    width: 100%;
    justify-self: center;
}

.navLeft,
.navRight,
.hamBurger {
    margin: 0px 50px;
}

.navLeft .logo {
    font-size: 40px;
    color: #FCFCFC;
    font-family: var(--logo-font);
}

.navRight ul {
    display: flex;
    gap: 20px;
}

.navRight ul li {
    list-style: none;
}

.navRight ul li a {
    text-decoration: none;
    color: #FCFCFC;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--primary-font);
}

.hamBurger {
    display: none;
}

.hamBurger span {
    display: inline-flex;
    gap: 10px;
}

.hamBurgerLine {
    height: 32px;
    width: 2px;
    background-color: #fcfcfc;
}

.hamBurgerContent {
    background-color: #485166;
    padding: 30px 0px;
    text-align: center;
    position: absolute;
    width: 100%;
}

.hamBurgerContent ul {
    gap: 8px;
    display: grid;
}

.hamBurgerContent ul li a {
    text-decoration: none;
    color: #FCFCFC;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--primary-font);
}

@media only screen and (max-width: 768px) {
    .hamBurger {
        display: flex;
        gap: 8px;
        font-size: 35px;
        line-height: 0px;
        font-weight: 600;
        color: #fcfcfc;
        border: 1px solid #fcfcfc;
        transform: rotate(90deg);
        padding: 8px;
    }

    .navRight {
        display: none;
    }
}

/* Hero Section */

.heroSection {
    background: linear-gradient(45deg, #373F51, #A9BCD0);
}

.herorRight,
.heroLeft {
    overflow: hidden;
}

.heroContent p {
    margin: 12px 0px;
    font-weight: 300;
}

.btnContainer {
    display: flex;
    gap: 20px;
}

.hireMe {
    height: 36px;
    width: 105px;
    border-radius: 8px;
    border: none;
    background: linear-gradient(80deg, #788a9f, #373f51);
    color: #FCFCFC;
    font-family: var(--secondary-font);
    font-size: 14px;
    margin-top: 12px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    cursor: pointer;
}

.contactMe {
    height: 36px;
    width: 105px;
    border-radius: 8px;
    border: 2px solid #FCFCFC;
    background: transparent;
    color: #FCFCFC;
    font-family: var(--secondary-font);
    font-size: 14px;
    margin-top: 12px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    text-decoration: none;
}

.heroContent {
    animation: LeftToRight 2s ease;
}



.imgContainer {
    animation: RightToLeft 2s ease;
}



.heroImg {
    display: flex;
    justify-self: center;
    animation: rotate 2s ease;
}

@media only screen and (max-width: 992px) {
    .heroImg {
        width: 280px;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .heroImg {
        display: none;
    }
}

/* Animation */

/* Image Rotate */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Content From Right to Left */
@keyframes RightToLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* Content From Left to Right */
@keyframes LeftToRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}


/* Project Section */

.projectsSection {
    background-color: #F0F0F0;
}

.projectsSection .heading3,
.projectsSection .txt {
    color: #030303;
}

.projectsSection .heading3 {
    margin-bottom: 16px;
}

.projectContainer {
    margin-top: 40px;
    height: 300px;
    display: grid;
    grid-template-columns: 210px 210px 210px 210px;
    justify-content: space-between;
}

.projectBox {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


@media only screen and (max-width: 992px) {
    .projectBox:nth-child(4) {
        display: none;
    }

    .projectContainer {
        grid-template-columns: 200px 200px 200px;
    }
}

@media only screen and (max-width: 768px) {
    .projectBox:nth-child(4) {
        display: block;
    }

    .projectBox {
        height: 300px;
    }

    .projectContainer {
        grid-template-columns: 230px 230px;
        gap: 30px;
        height: auto;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 550px) {
    .projectContainer {
        grid-template-columns: 250px;
        gap: 20px;
        height: auto;
        justify-content: space-evenly;
    }

    .projectBox:nth-child(4),
    .projectBox:nth-child(3) {
        display: none;
    }
}

/* About Me */
.aboutMe {
    background-color: #fcfcfc;
}

.aboutMe .heading3 {
    margin-bottom: 16px;
}

.aboutMe .heading3,
.aboutMe .txt {
    color: #030303;
}
.wcm{
    margin-top: 14px;
}


/* Key Benefits */
.keyBenefits {
    background-color: #fcfcfc;
    padding-top: 0px;
}
.keyBenefits .mainContainer{
    margin-top: 0px;
}

.keyBenefits .heading3,
.benefitsBox .boxContent .heading4,
.benefitsBox .boxContent .txt {
    color: #030303;
}

.boxContent .heading4 {
    margin-bottom: 16px;
}

.boxContent .txt:nth-child(2) {
    margin-bottom: 8px;
}

.benefitsBox {
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px gray;
    margin: 30px 0px;
    border: 2px solid transparent;
}

.benefitsBox:hover {
    border: 2px solid #373F51;
    box-shadow: none;
    transition: .5s ease;
}

.benefitsContainer {
    margin: 40px 0px;
}

@media only screen and (max-width: 550px) {
    .benefitsBox {
        flex-direction: column;
    }
}
